In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report
import re
import string
import joblib

ModuleNotFoundError: No module named 'seaborn'

In [3]:
df = pd.read_csv('E:/PBL6/ModelAI/data/book_user_ratings_include_user_data.csv')
df

        rating_id  book_id  user_id  rating  age  gender            area
0               0   248957    10527       5   39    Male        european
1               1   248957     6843       5   35    Male     south_asian
2               2   248957     3650       5   58    Male  celtic_english
3               3   248957    11592       5   51    Male  celtic_english
4               4   248957     1205       5   60  Female  celtic_english
...           ...      ...      ...     ...  ...     ...             ...
200117     200117   250730     8627       5   39  Female      east_asian
200118     200118   250730       44       5   33    Male      east_asian
200119     200119   250730     9117       5   19  Female      east_asian
200120     200120   250730    10149       5   53  Female  celtic_english
200121     200121   250730     5601       5   31    Male     south_asian

[200122 rows x 7 columns]

In [4]:
# Sử dụng LabelEncoder từ thư viện scikit-learn
from sklearn.preprocessing import LabelEncoder

# Khởi tạo LabelEncoder
label_encoder = LabelEncoder()

# Mã hóa cột 'area' thành dạng số
df['gender_encoded'] = label_encoder.fit_transform(df['gender'])
df['area_encoded'] = label_encoder.fit_transform(df['area'])

In [5]:
df_book = pd.read_csv('E:/Tài liệu môn học/Đồ án/pbl7/modelAI/ModelAI/data/thrift-preprocessed-summarize-problem.csv')
df_book

,Unnamed: 0,id,title,description,book_cover,image_url,release_date,publisher,number_of_pages,price,authors,rating,number_of_ratings,number_of_reviews
0,0,18599856,Where the Crawdads Sing,major motion picture 1 new york time bestselli...,Paperback,https://i.thriftbooks.com/api/imagehandler/m/4...,0001-01-01T00:00:00,Corsair,303,14.39,Delia Owens,3.897698,391,95
1,1,248957,Harry Potter and the Sorcerer's Stone,beloved first book harry potter series fully i...,Paperback,https://i.thriftbooks.com/api/imagehandler/m/9...,1998-09-01T00:00:00,Arthur A. Levine Books,320,4.29,J.K. Rowling,3.405858,239,38
2,2,247716,Nineteen Eighty-Four,written 75 year ago 1984 george orwell chillin...,Paperback,https://i.thriftbooks.com/api/imagehandler/m/0...,0001-01-01T00:00:00,NaN,0,187.89,George Orwell,3.695279,233,24
3,3,248147,To Kill a Mockingbird,voted america best loved novel pb great americ...,Mass Market Paperback,https://img.thriftbooks.com/api/images/m/8594c...,1988-10-11T00:00:00,Grand Central Publishing,288,4.19,Harper Lee,3.548387,186,35
4,4,246270,The Alchemist,international bestseller 80 million copy sold ...,Paperback,https://i.thriftbooks.com/api/imagehandler/m/1...,1993-04-25T00:00:00,HarperOne,197,5.49,Paulo Coelho,4.002950,339,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10045,10045,13866451,The State of Affairs: Rethinking Infidelity,fresh look infidelity broadening focus havoc w...,Paperback,https://i.thriftbooks.com/api/imagehandler/m/B...,2018-10-09T00:00:00,Harper Paperbacks,352,10.49,Esther Perel,3.666667,3,1
10046,10046,245996,Your Four-Year-Old: Wild and Wonderful,four year old make lovable problem four year o...,Paperback,https://m.media-amazon.com/images/I/41XFP1mCqL...,1980-09-15T00:00:00,Delta,160,6.99,"Louise Bates Ames,Frances L. Ilg",5.000000,5,5
10047,10047,376019,A Hunger for God: Desiring God through Fasting...,encourage read book asking great thing god. da...,Paperback,https://i.thriftbooks.com/api/imagehandler/m/4...,2013-04-30T00:00:00,Crossway,208,11.99,John Piper,4.083333,12,5
10048,10048,1000028213,Casablanca (1942),NaN,DVD,https://img.thriftbooks.com/api/images/e/m/43B...,2002-03-07T00:00:00,Warner Home Video,0,4.19,NaN,2.888889,9,3
10049,10049,250730,Exploring Creation With Physical Science,course designed last science course student ta...,Hardcover,https://i.thriftbooks.com/api/imagehandler/m/C...,2000-01-01T00:00:00,Veritas Pr Inc,445,6.39,Jay L. Wile,4.125000,8,6

In [6]:
data_book = df_book.to_numpy()

In [7]:
tfidf_matrix = joblib.load('E:/Tài liệu môn học/Đồ án/pbl7/modelAI/ModelAI/data/TF-IDF/tfidf_matrix_svd4000.pkl')

In [8]:
X = df[['book_id',	'user_id',	'age',	'gender_encoded',	'area_encoded']]  # features
y = df['rating']

In [9]:
X_data = X.to_numpy()
row = df_book[df_book['id'] == 248957]
row.to_numpy()

array([[1, 248957, "Harry Potter and the Sorcerer's Stone",
        'beloved first book harry potter series fully illustrated award winning artist jim kay.for first time j.k. rowling beloved harry potter book presented lavishly illustrated full color editions. award winning artist jim kay created 100 stunning illustration making deluxe format perfect gift child introduced series dedicated fans.harry potter never star quidditch team scoring point riding broom far ground. know spell never helped hatch dragon never worn cloak invisibility.all know miserable life dursleys horrible aunt uncle abominable son dudley great big swollen spoiled bully. harry room tiny closet foot stair birthday party eleven years.but change mysterious letter arrives owl messenger letter invitation incredible place harry anyone read find unforgettable.',
        'Paperback',
        'https://i.thriftbooks.com/api/imagehandler/m/96FD86FE12A253FA10F44EBA3CC6E56D4FE738B0.jpeg',
        '1998-09-01T00:00:00', 'Arthur A. Levine Books', 320, 4.29,
        'J.K. Rowling', 3.40585774058577, 239, 38],
       [9051, 248957, "Harry Potter and the Sorcerer's Stone",
        'beloved first book harry potter series fully illustrated award winning artist jim kay.for first time j.k. rowling beloved harry potter book presented lavishly illustrated full color editions. award winning artist jim kay created 100 stunning illustration making deluxe format perfect gift child introduced series dedicated fans.harry potter never star quidditch team scoring point riding broom far ground. know spell never helped hatch dragon never worn cloak invisibility.all know miserable life dursleys horrible aunt uncle abominable son dudley great big swollen spoiled bully. harry room tiny closet foot stair birthday party eleven years.but change mysterious letter arrives owl messenger letter invitation incredible place harry anyone read find unforgettable.',
        'Paperback',
        'https://i.thriftbooks.com/api/imagehandler/m/96FD86FE12A253FA10F44EBA3CC6E56D4FE738B0.jpeg',
        '1998-09-01T00:00:00', 'Arthur A. Levine Books', 320, 4.29,
        'J.K. Rowling', 3.40585774058577, 239, 38]], dtype=object)

In [10]:
from joblib import dump, load

# Save reshaped_array to a file named "data.joblib"
# dump(X_feature, 'tf_matrix_svd_feature.pkl')

In [11]:

# Load data from the "data.joblib" file
X_feature = load('E:\Tài liệu môn học\Đồ án\pbl7\modelAI\ModelAI/training\Predict_rating/tf_matrix_svd_feature.pkl')

In [12]:
type(X_feature)

list

In [13]:
subset = X_feature[0][5:4006]
subset

array([ 0.09923577, -0.00465948,  0.01831609, ..., -0.00093083,
       -0.00241601, -0.00201108])

In [14]:
# Danh sách của bạn có dạng [[], [], ...]

# Giá trị bạn muốn tìm
value_to_find = 248957

# Tìm chỉ số của giá trị trong danh sách
for index, sublist in enumerate(X_feature):
    if value_to_find in sublist:
        print(sublist,type(sublist))
        print("Giá trị", value_to_find, "được tìm thấy tại danh sách con có chỉ số:", index)
        break
else:
    print("Giá trị", value_to_find, "không được tìm thấy trong danh sách.")

[ 2.48957000e+05  1.05270000e+04  3.90000000e+01 ... -9.30831731e-04
 -2.41601369e-03 -2.01107928e-03] <class 'numpy.ndarray'>
Giá trị 248957 được tìm thấy tại danh sách con có chỉ số: 0

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X_feature, y, test_size=0.2, random_state=42)

In [16]:
# from sklearn.tree import DecisionTreeClassifier

# DT = DecisionTreeClassifier()

# DT.fit(X_train, y_train)
# pred_dt = DT.predict(X_test)

In [17]:
# dump(DT, 'DecisionTreeClassifier.pkl')

In [18]:
X_train[0][1]

5786.0

In [19]:
DT = load('E:\Tài liệu môn học\Đồ án\pbl7\modelAI\ModelAI/training\Predict_rating\DecisionTreeClassifier.pkl')

In [20]:
pred_dt = DT.predict(X_test)

In [21]:
from sklearn.metrics import mean_squared_error

mseDT = mean_squared_error(y_test, pred_dt)
print("Mean Squared Error:", mseDT)

Mean Squared Error: 0.7043597751405372

In [22]:
errors = y_test - pred_dt

# Tính toán RMSE
rmse = np.sqrt(np.mean(errors**2))
print("Root Mean Squared Error (RMSE):", rmse)

Root Mean Squared Error (RMSE): 0.8392614462374267

In [34]:
#input X = df[['book_id',	'user_id',	'age',	'gender_encoded',	'area_encoded']]  # features + tf data

def predict_rating(book_id,user_info):
    input = []
    input.append(book_id)
    input.extend(user_info)
    book_info = []
    for index, rating in enumerate(X_feature):
        if book_id in rating:
            book_info = rating[5:4006]
            break
    input.extend(book_info)
    # print(input,'input')
    output = DT.predict([input])
    print(output)

In [24]:

# def predict_rating(book_id, user_info):
#     input_data = []  # Use a different variable name to avoid conflict with the built-in function 'input'
#     input_data.append(book_id)
#     input_data.extend(user_info)
#     book_info = []

#     # Search for the book_id in X_feature
#     for rating in X_feature:
#         if book_id in rating:
#             book_info = rating[5:4006]
#             break

#     input_data.extend(book_info)

#     # Convert input_data to a NumPy array
#     input_array = np.array(input_data)

#     # Make predictions using the model
#     output = DT.predict([input_array])

#     print("Predicted rating:", output[0])

#     return output[0]

In [35]:
predict_rating(245980,[6843,35,1,9])

[5]

In [39]:
predict_rating(248207,[9268,43,1,2])

[2]