In [2]:
import pandas as pd
import numpy as np
# from sklearn.datasets import make_multilabel_classification

In [102]:
df = pd.read_csv('LinkedIn Profile Data.csv',usecols=['c_id', 'age','gender','nationality'])
df.shape

C:\Users\Admin\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\IPython\core\interactiveshell.py:3460: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

(62706, 4)

In [103]:
# Loại bỏ các hàng có giá trị "#REF!"
df_cleaned = df[df['c_id'] != '#REF!']
df_cleaned.shape

(38592, 4)

In [104]:
df_cleaned['nationality'].value_counts()

celtic_english    16050
european           6421
south_asian        5595
hispanic           3837
east_asian         3327
muslim             1975
nordic              816
african             278
greek               169
jewish              124
Name: nationality, dtype: int64

In [105]:
df_cleaned['age'].value_counts()

47    1578
46    1520
44    1510
43    1499
45    1432
      ...
11       7
76       7
4        4
6        3
10       3
Name: age, Length: 71, dtype: int64

In [106]:
df_cleaned = df_cleaned.loc[df_cleaned['age'] >= 18]
df_cleaned

        c_id  age gender nationality
0          1   37   Male  east_asian
1          2   37   Male  east_asian
2          3   37   Male  east_asian
3          4   37   Male  east_asian
4          5   37   Male  east_asian
...      ...  ...    ...         ...
38587  38588   56   Male    european
38588  38589   56   Male    european
38589  38590   45   Male     african
38590  38591   45   Male     african
38591  38592   45   Male     african

[38370 rows x 4 columns]

In [107]:
# Tìm user có id = 4
user_4 = df_cleaned.loc[df['c_id'] == 4]

print("Thông tin người dùng có id = 4:")

print(user_4)

Thông tin người dùng có id = 4:
  c_id  age gender nationality
3    4   37   Male  east_asian

In [115]:
user_new_data = df_cleaned[['age','gender','nationality']]
# user_new_data.to_csv('user_data.csv', index=True)

In [9]:
user_new_data = pd.read_csv('user_data.csv')
# user_new_data.to_numpy()

In [10]:
user_new_data

        c_id  age gender nationality
0          1   37   Male  east_asian
1          2   37   Male  east_asian
2          3   37   Male  east_asian
3          4   37   Male  east_asian
4          5   37   Male  east_asian
...      ...  ...    ...         ...
38365  38366   56   Male    european
38366  38367   56   Male    european
38367  38368   45   Male     african
38368  38369   45   Male     african
38369  38370   45   Male     african

[38370 rows x 4 columns]

In [11]:

user_new_data['c_id'] = user_new_data['c_id'].astype(int)

num_user = user_new_data['c_id'].max()

In [12]:
df_book = pd.read_csv('datathriftle-book.csv')

In [13]:
data = df_book.to_numpy()

In [14]:
data_rating = []
for i in range(len(data)):
    book = data[i]
    num_rating = book[11]
    num_users = np.random.randint(1, num_user, size=1)
    target_avg_rating = book[12]
    ratings = np.random.normal(loc=target_avg_rating, scale=1.0, size=num_rating)
    ratings = np.clip(ratings, 1, 5)  # Ensure ratings are within 1-5 range
    ratings = ratings.astype(int)
    # ratings = np.random.randint(1, 6, size=num_rating)
    user_ids = np.random.randint(1,num_users+1, size=num_rating)
    book_id = book[0]
    # print(num_rating)
    for j in range(num_rating):
        user_id = user_ids[j]
        # print('uid',user_id)
        user = user_new_data.loc[user_new_data['c_id'] == user_id].to_numpy()
        data_rating.append({'book_id': book[0], 'user_id': user_id, 'rating': ratings[j], 'age':user[0][1],'gender':user[0][2],'area':user[0][3]})

In [15]:
len(data_rating)

200122

In [16]:
data_user_rating = pd.DataFrame(data_rating)
data_user_rating.to_csv('book_user_ratings.csv', index=True)

In [17]:
data_user_rating['book_id'].value_counts()

3134922     688
246270      678
13536370    670
246855      650
248655      648
           ...
256131        1
13867743      1
8970204       1
247301        1
22577825      1
Name: book_id, Length: 9447, dtype: int64

In [18]:
data_user_rating['user_id'].value_counts()

1        81
4        64
2        58
3        57
6        53
         ..
35789     1
22955     1
33273     1
31750     1
17681     1
Name: user_id, Length: 32447, dtype: int64

In [19]:
data_user_rating['rating'].value_counts()

5    111664
1     34615
4     23283
3     17278
2     13282
Name: rating, dtype: int64

In [20]:
data_user_rating.to_csv('book_user_ratings.csv', index=True)